@charset "UTF-8";

/*** common ***/

body {
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
}

h1 {
  margin: 10px;

}
h2 {
  margin-top: 10px;
}

hr {
  border-style:dashed;
  border-color:#67c5ff;
}

button {
  width: 50%;
  display: inline-block;
  margin: 10px;
  padding: 0.5em 1em;
  color: #67c5ff;
  text-decoration: none;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}
button:hover {
  color: white;
  background-color: #67c5ff;
}

/*** dice ***/

.dice-area {
  margin: 10px;
}
.dice {
  width: 30%;
  max-width: 200px;
}

/*** map ***/

table {
  max-width: 600px;
  margin: 0 auto;
}

td {
  width: 100px;
  text-align: center;
  border-radius: 3px;
}

.bg-yellow {
  background-color: yellow;
}
.bg-green {
  background-color: green;
}
.bg-yellowgreen {
  background-color: yellowgreen;
}
.bg-orange {
  background-color: orange;
}
.bg-cyan {
  background-color: cyan;
}
.bg-blue {
  background-color: blue;
}
.bg-red {
  background-color: red;
}
.bg-none {
  background-color: transparent;
}
